# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.task4.4.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\hp\Desktop\dotnet courses\tasks\taskOne\task4.4\.idea\.idea.task4.4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
